# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly libraries used by Data Scientist
* Some development environment open source tools used in Data Science
* Example of arithmetic expressions evaluation
* Example of conversion

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

|Data Science Tools|
|----------------- |
|RStudio|
|Jupyter Notebook|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Dlynzee D.